Source: network-manager
Section: net
Priority: optional
Maintainer: Riccardo Setti <giskard@autistici.org>
Build-Depends: debhelper (>= 4.0.0), cdbs, gnome-common, intltool, libgnome-keyring-dev, libdbus-glib-1-dev (>= 0.60), libiw-dev(>= 27+28pre9), libgnomeui-dev, libpanel-applet2-dev, libglade2-dev, libgconf2-dev, libhal-dev, docbook-to-man
Standards-Version: 3.6.2

Package: network-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iproute, iputils-arping, dhcdbd (>= 1.10), lsb-base (>= 2.0-6)
Description: network management framework daemon
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the userspace daemons.

Package: network-manager-gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager
Description: network management framework daemon
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the notification applet to the control system.
 
Package: network-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pkg-config
Description: network management framework daemon development
 this package provides header files that are needed to 
 compile VPN Plugins for NetworManager.

Package: libnm-glib0
Architecture: any
Depends: ${shlibs:Depends}
Description: network management framework daemon (GLib shared library)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the shared library that applications can use to query
 connection status via NetworkManager.

Package: libnm-glib-dev
Architecture: any
Depends: libglib2.0-dev, libnm-glib0 (= ${Source-Version}), libdbus-glib-1-dev (>= 0.60)
Description: network management framework daemon (GLib interface)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the interface that applications can use to query
 connection status via NetworkManager.
