Source: network-manager
Section: net
Priority: optional
Maintainer: Riccardo Setti <giskard@debian.org>
Uploaders: Michael Biebl <biebl@teco.edu>
Build-Depends: debhelper (>= 5.0.0), cdbs, gnome-common, intltool, libgnome-keyring-dev, libdbus-glib-1-dev (>= 0.60), libiw-dev(>= 27+28pre9), libgnomeui-dev, libpanel-applet2-dev, libglade2-dev, libgconf2-dev, libhal-dev (>= 0.5.0), libnl-dev (>= 0.99+1.0.svn21), libnotify-dev (>= 0.3), docbook-to-man
Standards-Version: 3.7.2

Package: network-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iproute, iputils-arping, dhcdbd (>=1.12-2), lsb-base (>= 2.0-6), wpasupplicant (>= 0.4.8), dbus (>= 0.60), hal (>=0.5.7.1), ifupdown
Description: network management framework daemon
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the userspace daemons.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

Package: network-manager-gnome
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager (= ${Source-Version})
Recommends: notification-daemon
Description: network management framework (GNOME frontend)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package contains a systray applet for GNOME's notification area but it
 also works for other desktop environments which provide a systray like KDE
 or XFCE.
 It displays the available networks and allows to easily switch between them.
 For encrypted networks it will prompt the user for the key/passphrase and it
 can optionally store them in the gnome-keyring.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/
 
Package: network-manager-dev
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, pkg-config
Description: network management framework (development files)
 this package provides header files that are needed to 
 compile VPN Plugins for NetworkManager.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

Package: libnm-glib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: network management framework (GLib shared library)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the shared library that applications can use to query
 connection status via NetworkManager.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

Package: libnm-glib-dev
Section: libdevel
Architecture: any
Depends: libnm-glib0 (= ${Source-Version}), libglib2.0-dev, libdbus-glib-1-dev (>= 0.60)
Description: network management framework (GLib interface)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the interface that applications can use to query
 connection status via NetworkManager.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

Package: libnm-util0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: network management framework (shared library)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package contains a convenience library to ease the access to
 NetworkManager.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

Package: libnm-util-dev
Section: libdevel
Architecture: any
Depends: libnm-util0 (= ${Source-Version}), libglib2.0-dev, libdbus-glib-1-dev (>= 0.60)
Description: network management framework (development files)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package contains header and development files.
 .
  Homepage: http://www.gnome.org/projects/NetworkManager/

