Source: network-manager
Section: net
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Riccardo Setti <giskard@debian.org>, Michael Biebl <biebl@debian.org>
Build-Depends: debhelper (>= 5.0.0), cdbs, autotools-dev, pkg-config, intltool, libgnome-keyring-dev, libdbus-glib-1-dev (>= 0.60), libiw-dev(>= 27+28pre9), libgnomeui-dev, libglade2-dev, libglib2.0-dev, libgconf2-dev, libhal-dev (>= 0.5.0), libnl-dev (>= 1.0~pre8), libnotify-dev (>= 0.3), docbook-to-man, iproute
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.debian.org/svn/pkg-utopia/packages/unstable/networkmanager
Vcs-Browser: http://svn.debian.org/wsvn/pkg-utopia/packages/unstable/networkmanager
Homepage: http://www.gnome.org/projects/NetworkManager/

Package: network-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iproute, dhcdbd (>=1.12-2), lsb-base (>= 3.0-6), wpasupplicant (>= 0.4.8), dbus (>= 0.60), hal (>= 0.5.7.1), ifupdown, adduser
Recommends: network-manager-gnome | network-manager-kde
Conflicts: network-manager-gnome (<< 0.6.5-1)
Replaces: network-manager-gnome (<< 0.6.5-1)
Description: network management framework daemon
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the userspace daemons.

Package: network-manager-dev
Architecture: any
Section: devel
Description: network management framework (development files)
 this package provides header files that are needed to 
 compile VPN Plugins for NetworkManager.

Package: libnm-glib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: network management framework (GLib shared library)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the shared library that applications can use to query
 connection status via NetworkManager.

Package: libnm-glib-dev
Section: libdevel
Architecture: any
Depends: libnm-glib0 (= ${binary:Version}), libglib2.0-dev
Description: network management framework (GLib interface)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package provides the interface that applications can use to query
 connection status via NetworkManager.

Package: libnm-util0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: network management framework (shared library)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package contains a convenience library to ease the access to
 NetworkManager.

Package: libnm-util-dev
Section: libdevel
Architecture: any
Depends: libnm-util0 (= ${binary:Version}), libdbus-1-dev
Description: network management framework (development files)
 NetworkManager attempts to keep an active network connection available at all
 times. It is intended only for the desktop use-case, and is not intended for
 usage on servers. The point of NetworkManager is to make networking
 configuration and setup as painless and automatic as possible.  If using DHCP,
 NetworkManager is _intended_ to replace default routes, obtain IP addresses
 from a DHCP server, and change nameservers whenever it sees fit.
 .
 This package contains header and development files.

