#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

ifeq (linux,$(DEB_HOST_ARCH_OS))
  SESSION_TRACKING = systemd
else
  SESSION_TRACKING = consolekit
endif


%:
	dh $@ --with gir

override_dh_auto_configure:
	dh_auto_configure -- \
		--libexecdir=/usr/lib/NetworkManager \
		--with-resolvconf=/sbin/resolvconf \
		--with-dhclient=/sbin/dhclient \
		--with-iptables=/sbin/iptables \
		--with-systemdsystemunitdir=/lib/systemd/system \
		--with-crypto=gnutls \
		--with-session-tracking=$(SESSION_TRACKING) \
		--disable-more-warnings \
		--disable-modify-system \
		--enable-polkit \
		--enable-ppp \
		--enable-ifupdown \
		--enable-introspection \
		--enable-doc \
		--enable-concheck \
		--with-modem-manager-1 \
		--enable-bluez4

override_dh_install:
	dh_install --list-missing
	install -m 755 debian/network-manager-dispatcher.script \
		debian/network-manager/etc/NetworkManager/dispatcher.d/01ifupdown
	install -m 755 debian/ifblacklist_migrate.sh \
		debian/network-manager/usr/lib/NetworkManager

override_dh_installinit:
	dh_installinit -pnetwork-manager -R

override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/NetworkManager/ -X/usr/lib/pppd/

override_dh_strip:
	dh_strip --dbg-package=network-manager-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_test:
